PUBLIC_HOST=193.203.190.2
ACME_EMAIL=ton-email@example.com

# Pour tester sans consommer les limites Let's Encrypt de production :
# ACME_CA_SERVER=https://acme-staging-v02.api.letsencrypt.org/directory
